<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Simple Database</title>
    <meta name="description" content="Simple Database">
    <meta name="author" content="Asa Yee">

  </head>

  <body>
    <h1>A Simple Flask Database</h1>
    <div id="mainForm">
      <form class="" action="/post_user" method="post">
        <label>Username</label>
        <input type="text" name="username" placeholder="asathegreat"><br>
        <label>Email Address</label>
        <input type="text" name="email" placeholder="asa.yee@my.uwi.edu"><br>
        <input type="submit" name="submitButton" value="Submit">
      </form>
    </div>
  </body>
</html>
